.AddRecipeForm {
  color: #2c3e50;
  padding: 10px;
  box-sizing: border-box;
}


.AddRecipeForm__close {
  position: absolute;
  top: 5px;
  right: 10px;
}

.AddRecipeForm__close:hover {
  cursor: pointer;
  color: #e74c3c;
}

.AddRecipeForm__title {
  margin-top: 0; 
}